.section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  flex: 1;
  max-width: 600px;
  text-align: left;
}

.contactForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: var(--spacing-md); /* Using global spacing variable */
  padding: var(--spacing-lg); /* Using global spacing variable */
}

.contactForm:hover {
  transform: none;
}

.formTitle {
  font-size: var(--font-size-md);
  color: var(--color-text-secondary);
  text-align: center;
}

.inputField,
.textArea {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md); /* Using global spacing variables */
  font-size: var(--font-size-sm); /* Using global font size */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius-sm); /* Using global border radius */
  background-color: inherit; /* Ensures the input adopts the parent background */
  backdrop-filter: inherit; /* Ensures it takes the parent's blur effect */
  color: var(--color-text); /* Using global text color */
  outline: none;
  box-shadow: none; /* Removes any native input shadow */
  transition: background var(--transition-medium),
    color var(--transition-medium);
}

/* Optional: Hover & Focus Styles for Inputs */
.inputField:hover,
.textArea:hover,
.inputField:focus,
.textArea:focus {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Slightly visible on interaction */
  color: var(--color-text); /* Using global text color */
  border-color: rgba(255, 255, 255, 0.4);
}

.textArea {
  min-height: 120px;
  max-height: 250px;
}

.submitButton {
  width: 100%;
}

/* Social Icons */
.socialIcons {
  display: flex;
  gap: var(--spacing-xl); /* Using global spacing variable */
  justify-content: center;
}

/* Responsive Styles */
@media (max-width: 978px) {
  .section {
    flex-direction: column;
    width: 100%;
  }

  .intro {
    width: 100%;
    text-align: center;
  }

  .contactForm {
    width: 100%;
    padding: var(--spacing-md); /* Reduce padding */
  }

  .inputField,
  .textArea {
    font-size: var(--font-size-sm); /* Reduce font size */
  }

  .submitButton {
    font-size: var(--font-size-sm); /* Reduce font size */
  }

  .socialIcons {
    gap: var(--spacing-lg); /* Reduce gap between icons */
  }
}

@media (max-width: 480px) {
  .contactForm {
    padding: var(--spacing-md); /* Further reduce padding */
  }

  .inputField,
  .textArea {
    font-size: var(--font-size-xs); /* Further reduce font size */
  }

  .submitButton {
    font-size: var(--font-size-xs); /* Further reduce font size */
  }

  .socialIcons {
    gap: var(--spacing-md); /* Further reduce gap between icons */
  }
}
