/* Hero Section Styles */
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #ffffff;
}

.heroText {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
}

.heroWord {
  display: inline-block;
  margin-right: 0.5rem; /* Add space between words */
}

.heroLetter {
  display: inline-block;
  opacity: 0;
  animation: fadeInLetter 2s forwards;
}

.nameHighlight {
  color: #3700b3;
  text-shadow: 0 0 3px #3700b3, 0 0 5px #3700b3, 0 0 8px #3700b3;
}

.heroSubText {
  font-size: 1rem;
  color: #c0c0c0;
  margin-top: 1rem;
  max-width: 80%;
}

/* Loading Dots Animation */
.loadingDots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 3rem; /* Reduced size of the dots */
  color: #ffffff;
}
