/* Main Navbar Styles */
.navBar {
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  height: 70px;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  background-color: rgba(25, 25, 25, 0.7);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar:hover {
  backdrop-filter: blur(12px);
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3700b3;
  text-shadow: 0 0 1px #3700b3, 0 0 1px #3700b3, 0 0 5px #3700b3;
}

/* Navigation Links */
.navLinks {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLink {
  width: 65px;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

/* Bottom Line (Hidden by Default) */
.navLink::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3700b3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

/* Hover Effect for Non-Active Links */
.navLink:hover::after {
  transform: scaleX(1);
}

/* Active Link Styles */
.activeNavLink {
  color: #3700b3;
  font-weight: bold;
}

.activeNavLink::after {
  transform: scaleX(1);
}

/* Download Button */
.downloadBtn {
  padding: 10px 20px;
  background-color: #a0153e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.downloadBtn:hover {
  background-color: #a0153e;
  box-shadow: 0 0 5px #a0153e, 0 0 5px #a0153e, 0 0 5px #a0153e;
}

/* Hamburger Menu */
.hamburgerMenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .downloadBtn {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }
}
