/* Main Navbar Styles */
.navBar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(25, 25, 25, 0.7); /* Semi-transparent background */
  color: #fff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

/* Optional: Adds hover effect to make it a bit more dynamic */
.navBar:hover {
  backdrop-filter: blur(1px); /* Increase blur on hover */
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3700b3;
  text-shadow: 0 0 1px #3700b3, 0 0 1px #3700b3, 0 0 5px #3700b3;
}

/* Navigation Links */
.navLinks {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #3700b3;
}

/* Download Button */
.downloadBtn {
  padding: 10px 20px;
  background-color: #a0153e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.downloadBtn:hover {
  background-color: #a0153e;
  box-shadow: 0 0 5px #a0153e, 0 0 5px #a0153e, 0 0 5px #a0153e;
}

/* Hamburger Menu */
.hamburgerMenu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }
}
