.cardsContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Responsive grid */
  gap: var(--spacing-md); /* Using global spacing variable */
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}

.icon {
  width: 50px; /* Icon size adjustment */
  height: 50px;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(
      auto-fit,
      minmax(75px, 1fr)
    ); /* Smaller cards on tablets */
    gap: var(--spacing-sm); /* Reduce gap between cards */
  }

  .card {
    width: 75px;
    height: 75px;
  }

  .icon {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 480px) {
  .cardsContainer {
    grid-template-columns: repeat(
      auto-fit,
      minmax(70px, 1fr)
    ); /* Smaller cards on tablets */
    gap: var(--spacing-sm); /* Reduce gap between cards */
  }

  .card {
    width: 70px;
    height: 70px;
  }

  .icon {
    height: 35px;
    width: 35px;
  }
}
