.welcomePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background); /* Using global background color */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--transition-slow); /* Using global transition variable */
  z-index: var(--z-index-welcome-page); /* Using global z-index variable */
  overflow: hidden; /* Ensures no internal scrollbars on the page itself */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--color-text); /* Using global text color */
}

.heroText {
  font-size: var(--font-size-xxl); /* Using global font size variable */
  font-weight: bold;
  color: var(--color-text); /* Using global text color */
  display: inline-block;
}

.heroWord {
  display: inline-block;
  margin-right: var(--spacing-xs); /* Using global spacing variable */
}

.nameHighlight {
  color: var(--color-primary); /* Using global primary color */
  text-shadow: 0 0 3px var(--color-primary), 0 0 5px var(--color-primary),
    0 0 8px var(--color-primary); /* Using global primary color */
}

/* Loading Dots Animation */
.loadingDots {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs); /* Using global spacing variable */
  font-size: var(--font-size-xxl); /* Using global font size variable */
  color: var(--color-text); /* Using global text color */
}
