.welcomePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-background); /* Using global background color */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity var(--transition-slow); /* Using global transition variable */
  z-index: var(--z-index-welcome-page); /* Using global z-index variable */
  overflow: hidden; /* Ensures no internal scrollbars on the page itself */
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--color-text); /* Using global text color */
}

/* Loading Dots Animation */
.loadingDot {
  font-size: 1.5rem;
  color: #ffffff;
}
