.mainDiv {
  height: 200px;
  width: space-between;
  border: 1px solid #616164;
  border-radius: 25px;
  padding: 15px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 400px) {
  .mainDiv {
    height: 100%;
    width: space-between;
  }
}
