.mainDiv {
  height: 100vh;
  width: 100%;
  padding: 0 150px 0 150px;
}

.topDiv {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
}

.middleDiv {
  width: 100%;
}

.footer {
  padding: 10px 10px 10px 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: gray;
}
