.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper takes at least the full viewport height */
}

.layoutContainer {
  flex: 1; /* Allow the container to grow and fill the available space */
  display: flex;
  flex-direction: column;
}

.topSection {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mainContent {
  width: 100%;
  padding: 0 var(--spacing-xxxxl);
  flex: 1; /* Allow main content to grow and push footer to the bottom */
}

.footerWrapper {
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .mainContent {
    padding: 0 var(--spacing-xxxl); /* Using global spacing variables */
  }
}

@media (max-width: 968px) {
  .mainContent {
    padding: 0 var(--spacing-xxl); /* Using global spacing variables */
  }
}

@media (max-width: 768px) {
  .mainContent {
    padding: 0 var(--spacing-xxl); /* Using global spacing variables */
  }
}

@media (max-width: 480px) {
  .topSection {
    align-items: center; /* Center align items on mobile */
  }

  .mainContent {
    padding: 0 15px; /* Using global spacing variables */
  }
}
