.layoutContainer {
  height: 100vh;
  width: 100%;
}

.topSection {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.mainContent {
  width: 100%;
  padding: 0 var(--spacing-xxxl);
}

/* Responsive Styles */
@media (max-width: 968px) {
  .mainContent {
    width: 100%;
    padding: 0 var(--spacing-xxl); /* Using global spacing variables */
  }
}

@media (max-width: 768px) {
  .mainContent {
    width: 100%;
    padding: 0 var(--spacing-xxl); /* Using global spacing variables */
  }
}

@media (max-width: 480px) {
  .topSection {
    align-items: center; /* Center align items on mobile */
  }

  .mainContent {
    padding: 0 15px; /* Using global spacing variables */
  }
}
