.mainDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
}

.topDiv {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
}

.middleDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 20px;
}

.footer {
  padding: 10px 10px 10px 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: gray;
}
