.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(-Border-radius-md);
  background: var(--gradient-primary);
  padding: 1.5px;
  border-radius: var(--border-radius-md);
  color: var(--color-text);
  transition: background var(--transition-medium),
    box-shadow var(--transition-medium);
}

.iconButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--color-secondary), 0 0 20px var(--color-secondary);
}

.iconButtonInner {
  display: flex;
  font-size: var(--font-size-sm);
  padding: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
  background: var(--color-background);
  transition: background var(--transition-medium);
}
