.homeContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl); /* Using global spacing variable */
  padding: var(--spacing-md); /* Using global spacing variable */
}

.section {
  color: var(--color-text); /* Using global text color */
}

.sectionCards {
  color: var(--color-text); /* Using global text color */
}
