.section {
  color: var(--color-text); /* Using global text color */
  height: 100vh;
  padding-top: 50px;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
