.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 1rem;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  color: #ffffff;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.2);
}

.icon {
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 1rem;
  color: #cccccc;
}
