.blogCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  .blogCards {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@media (max-width: 300px) {
  .blogCards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
