.section {
  min-height: 80vh;
}

.detailsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-l); /* Using global spacing variable */
}

.introWrapper {
  max-width: 680px;
}

.imageWrapper {
  /* width: 100%; */
}

.profileImage {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transition: transform var(--transition-medium);
}

/* Hero Text */
.heroText {
  font-size: var(--font-size-xxl); /* Using global font size */
  font-weight: bold;
  line-height: 60px;
  color: var(--color-text); /* Using global text color */
  margin-bottom: var(--spacing-lg); /* Using global spacing variable */
}

.heroWord {
  margin-right: var(--spacing-xs); /* Using global spacing variable */
}

.nameHighlight {
  color: var(--color-primary); /* Using global primary color */
  text-shadow: 0 0 1px var(--color-primary), 0 0 1px var(--color-primary),
    0 0 1px var(--color-primary); /* Using global primary color */
}

.heroSubText {
  font-size: var(--font-size-lg); /* Using global font size */
  color: var(--color-text); /* Using global text color */
  margin-bottom: var(--spacing-lg); /* Using global spacing variable */
}

/* Button Row */
.buttonRow {
  display: flex;
  gap: var(--spacing-xl); /* Using global spacing variable */
}

.button {
  width: 150px;
}

/* Cards */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-md); /* Using global spacing variable */
}

.cardWrapper {
  padding: var(--spacing-md); /* Using global spacing variable */
}

.cardWrapper:hover {
  transform: translateY(-10px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm); /* Using global spacing variable */
}

.cardIcon {
  width: 40px;
  height: 40px;
}

.cardNumber {
  font-size: var(--font-size-lg); /* Using global font size */
  font-weight: bold;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.5rem;
  color: var(--color-text); /* Using global text color */
  margin-bottom: var(--spacing-xs); /* Using global spacing variable */
}

.cardDescription {
  font-size: var(--font-size-sm); /* Using global font size */
  color: var(--color-text-secondary); /* Using global text color */
}

.cardFooter {
  text-align: right;
}

.cardLink {
  color: var(--color-primary); /* Using global primary color */
  font-weight: bold;
  align-self: flex-end;
}
