/* Loading Dots Animation */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11111;
}

.loadingOverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-bg);
  opacity: 0.8;
  z-index: -1;
}

.loadingDot {
  font-size: 1.5rem;
  color: #ffffff;
}
