/* Loading Dots Animation */
.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loadingOverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-bg);
  opacity: 0.8;
  z-index: -1;
}

.loadingDots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 3rem; /* Reduced size of the dots */
  color: #ffffff;
}
